// Chat
.chat {
	// .chat__overlay
	&__overlay {
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		visibility: hidden;
		transition:
			opacity 0.3s,
			visibility 0.3s;
		background-color: rgba(#091328, 0.4);
		[data-fls-chat-open] & {
			opacity: 1;
			visibility: visible;
		}
	}
	// .chat__body
	&__body {
		left: 0;
		gap: 20px;
		bottom: 0;
		width: 100%;
		z-index: 10;
		display: grid;
		position: fixed;
		background-color: #fff;
		height: calc(100% - 190px);
		transition: transform 0.3s;
		grid-template-rows: 1fr auto;
		padding: 16px 15px 30px 15px;
		transform: translateY(calc(100% + 29px));
		&::before,
		&::after {
			top: 0;
			content: "";
			height: 20px;
			translate: 0 -100%;
			position: absolute;
			background-color: #fff;
			width: calc(50% - 77.5px);
		}
		&::before {
			left: 0;
			border-radius: 35px 0 0 0;
		}
		&::after {
			right: 0;
			border-radius: 0 35px 0 0;
		}
		[data-fls-chat-open] & {
			transform: translateY(0);
		}
	}
	// .chat__decore
	&__decore {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		position: absolute;
		translate: 0 -100%;
		justify-content: center;
	}
}
.wrapper-chat {
	gap: 30px;
	height: auto;
	display: grid;
	overflow: auto;
	padding-block: 5px;
	padding-right: 10px;
	&::-webkit-scrollbar {
		width: 3px;
		border-radius: 5px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $liteColor;
	}
	// .wrapper-chat__date
	&__date {
		display: flex;
		justify-self: center;
		justify-content: center;
		span {
			font-size: 13px;
			color: #778a99;
			border-radius: 5px;
			display: inline-flex;
			padding: 4px 14px 5px 14px;
			background-color: $muteColor;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .wrapper-chat__messages
	&__messages {
		gap: 30px;
		display: grid;
	}
	// .wrapper-chat__message
	&__message {
		gap: 4px;
		display: flex;
		line-height: 1.25;
		padding: 4px 14px;
		border-radius: 5px;
		flex-direction: column;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		span {
			&:last-child {
				font-size: 12px;
				color: #bcc2c8;
				text-align: right;
			}
		}
		// .wrapper-chat__message--receive
		&--receive {
			justify-self: start;
			background-color: #f2f4f5;
		}
		// .wrapper-chat__message--send
		&--send {
			justify-self: end;
			background-color: $muteColor;
		}
	}
}
.form-chat {
	// .form-chat__textarea
	&__textarea {
		display: flex;
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid $borderColor;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	// .form-chat__input
	&__input {
		width: 100%;
		resize: none;
		padding: 10px;
		font-size: 12px;
		field-sizing: content;
		&::placeholder {
			transition: opacity 0.3s;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
	// .form-chat__action
	&__action {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	// .form-chat__button
	&__button {
		width: 30px;
		font-size: 18px;
		aspect-ratio: 1;
		color: $grayColor;
		background-color: #f5f5f5;
	}
}
