.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .options__text {
			outline: 1px solid #000;
		}
		&:checked + .options__text:before {
		}
		&:checked + .options__text:after {
			transform: scale(1);
		}
	}
	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			width: 26px;
			height: 26px;
			flex: 0 0 26px;
			border-radius: 50%;
			background-color: $muteColor;
		}
		&:after {
			display: flex;
			font-size: 12px;
			padding-bottom: 3px;
			justify-content: center;
			align-items: center;
			color: #fff;
			content: "\f10f";
			font-family: "iconfont";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background-color: $primaryColor;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
