//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	width: 100%;
	height: 42px;
	display: flex;
	max-width: 128px;
	border-radius: 5px;
	background-color: $primaryColor;
	&--hidden {
		display: none;
	}
	// .quantity__button
	&__button {
		width: 100%;
		cursor: pointer;
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #fff;
			width: 13px;
			height: 3px;
		}
		// .quantity__button_plus
		&--plus {
			border-left: 1px solid rgba(195, 195, 195, 0.5);
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
			border-right: 1px solid rgba(195, 195, 195, 0.5);
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			width: 34px;
			height: 100%;
			color: #fff;
			font-weight: 700;
			text-align: center;
		}
	}
}
