// Сніппет (HTML): spoller
.spollers {
	gap: 20px;
	display: grid;
}
// Спойлер
.spollers__item {
	border-radius: 5px;
	padding: 12px 12px 15px 12px;
	background-color: $muteColor;
	border: 1px dashed $muteColor;
	transition: background-color 0.3s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	&:open {
		background-color: #f6f8fc;
		border: 1px dashed $borderColor;
	}
}
// Заголовок спойлера
.title-spollers {
	gap: 6px;
	width: 100%;
	display: grid;
	cursor: default;
	text-align: left;
	list-style: none;
	position: relative;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	// .title-spollers__head
	&__head {
		display: flex;
		font-weight: 700;
		align-items: center;
		justify-content: space-between;
	}
	// .title-spollers__mark-head
	&__mark-head {
		font-size: 20px;
		color: $primaryColor;
		translate: 0 2px;
	}
	// .title-spollers__info
	&__info {
		display: flex;
		font-size: 13px;
		align-items: center;
		justify-content: space-between;
	}
	// .title-spollers__label
	&__label {
		font-size: 13px;
	}
}
// Контент спойлера
.body-spollers {
	gap: 20px;
	display: grid;
	padding-top: 20px;
	// .body-spollers__label
	&__label {
		font-weight: 700;
	}
	// .body-spollers__items
	&__items {
		gap: 12px;
		display: grid;
	}
	// .body-spollers__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .body-spollers__content-item
	&__content-item {
		gap: 17px;
		display: flex;
		align-items: center;
		img {
			width: 45px;
			aspect-ratio: 1;
			border-radius: 5px;
		}
	}
	// .body-spollers__cost-item
	&__cost-item {
	}
	// .body-spollers__actions
	&__actions {
		gap: 10px;
		display: flex;
		align-items: center;
	}
	// .body-spollers__button
	&__button {
		width: 100%;
		height: 27px;
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		border-radius: 5px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		// .body-spollers__button--black
		&--black {
			background-color: $mainColor;
		}
		// .body-spollers__button--blue
		&--blue {
			background-color: $primaryColor;
		}
	}
}

/*
// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	padding: 10px 15px;
	border-radius: 5px;
	position: relative;
	list-style: none;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	.--spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&.--spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #eee;
}
*/
