.blank {
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 80px;
	display: flex;
	position: fixed;
	border-radius: 10px 10px 0 0;
	background-color: $primaryColor;
	// .blank__container
	&__container {
		width: 100%;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		&::before {
			content: "";
			position: absolute;
			width: 140px;
			aspect-ratio: 1;
			top: 10px;
			left: 0;
			right: 0;
			margin: 0 auto;
			translate: 30px 0;
			background: url("@img/decore/aster.svg") 0 0 no-repeat;
		}
	}
	// .blank__main
	&__main {
		gap: 10px;
		display: grid;
		color: #fff;
	}
	// .blank__label
	&__label {
		font-size: 20px;
		font-weight: 700;
	}
	// .blank__total
	&__total {
		font-size: 18px;
	}
}
