.page {
	padding-bottom: 100px;
	// .page__preview
	&__preview {
	}
	// .page__dish
	&__dish {
	}
}
// Dish
.dish {
	// .dish__container
	&__container {
		gap: 25px;
		display: grid;
		padding-top: 8px;
		position: relative;
		&::before,
		&::after {
			top: 0;
			content: "";
			height: 20px;
			translate: 0 -100%;
			position: absolute;
			background-color: #fff;
			width: calc(50% - 77.5px);
		}
		&::before {
			left: 0;
			border-radius: 35px 0 0 0;
		}
		&::after {
			right: 0;
			border-radius: 0 35px 0 0;
		}
	}
	// .dish__decore
	&__decore {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		display: flex;
		translate: 0 -100%;
		position: absolute;
		justify-content: center;
	}
	// .dish__body
	&__body {
		gap: 25px;
		display: grid;
	}
	// .dish__title
	&__title {
		font-size: 21px;
		font-weight: 700;
		line-height: 1.25;
	}
	// .dish__text
	&__text {
		line-height: 1.25;
	}
}
.info-dish {
	gap: 20px;
	display: flex;
	// .info-dish__item
	&__item {
		gap: 5px;
		overflow: hidden;
		position: relative;
		border-radius: 15px;
		display: inline-flex;
		flex-direction: column;
		padding: 20px 70px 20px 15px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		&::before {
			z-index: 1;
			position: absolute;
			width: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1;
			top: 5px;
			right: 5px;
			border-radius: 50%;
			background-color: #fff;
		}
		&::after {
			right: 0;
			bottom: 0;
			content: "";
			width: 84px;
			aspect-ratio: 1;
			position: absolute;
			translate: 35% 35%;
		}
		// .info-dish__item--icon-price
		&--icon-price {
			background-color: #c4e861;
			&::after {
				background: url("@img/decore/aster-dish-01.svg") 0 0 no-repeat;
			}
		}
		// .info-dish__item--icon-weight
		&--icon-weight {
			background-color: #d0c3fd;
			&::after {
				background: url("@img/decore/aster-dish-02.svg") 0 0 no-repeat;
			}
		}
	}
}
.size-dish {
	// .size-dish__actions
	&__actions {
		gap: 15px;
		display: flex;
	}
	// .size-dish__action
	&__action {
		gap: 5px;
		width: 100%;
		display: flex;
		border-radius: 15px;
		padding-block: 12px;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-color: $muteColor;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		transition:
			color 0.3s,
			background-color 0.3s;
		// .size-dish__action--active
		&--active {
			color: #fff;
			background-color: $primaryColor;
		}
	}
}
.var-dish {
	gap: 25px;
	display: grid;
	// .var-dish__block
	// .var-dish__checkboxes
	&__checkboxes {
		gap: 5px;
		display: inline-flex;
		flex-direction: column;
	}
	// .var-dish__button
	&__button {
		height: 30px;
		color: #fff;
		font-weight: 700;
		border-radius: 5px;
		justify-self: start;
		align-items: center;
		display: inline-flex;
		padding-inline: 50px;
		justify-content: center;
		background-color: $primaryColor;
	}
}
