.gain {
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 80px;
	display: flex;
	position: fixed;
	background-color: #f6f8fc;
	border-radius: 20px 20px 0 0;
	box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 4px;
	// .gain__container
	&__container {
		gap: 15px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .gain__button
	&__button {
		width: 100%;
		&.button {
			height: 42px;
		}
	}
}
