<div data-fls-gain class="gain">
	<div class="gain__container">
		<div data-fls-quantity class="gain__quantity quantity">
			<button data-fls-quantity-minus type="button" class="quantity__button quantity__button--minus"></button>
			<div class="quantity__input">
				<input data-fls-quantity-value autocomplete="off" type="text" name="form[]" value="1">
			</div>
			<button data-fls-quantity-plus type="button" class="quantity__button quantity__button--plus"></button>
		</div>
		<a href="#" data-fls-button class="gain__button button">Добавить</a>
	</div>
</div>