// Info
.info {
	// .info__overlay
	&__overlay {
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		visibility: hidden;
		transition:
			opacity 0.3s,
			visibility 0.3s;
		background-color: rgba(#091328, 0.4);
		[data-fls-info-open] & {
			opacity: 1;
			visibility: visible;
		}
	}
	// .info__body
	&__body {
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 10;
		position: fixed;
		background-color: #fff;
		transition: transform 0.3s;
		padding: 16px 15px 30px 15px;
		transform: translateY(calc(100% + 29px));
		&::before,
		&::after {
			top: 0;
			content: "";
			height: 20px;
			translate: 0 -100%;
			position: absolute;
			background-color: #fff;
			width: calc(50% - 77.5px);
		}
		&::before {
			left: 0;
			border-radius: 35px 0 0 0;
		}
		&::after {
			right: 0;
			border-radius: 0 35px 0 0;
		}
		[data-fls-info-open] & {
			transform: translateY(0);
		}
	}
	// .info__decore
	&__decore {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		position: absolute;
		translate: 0 -100%;
		justify-content: center;
	}
	// .info__inner
	&__inner {
		gap: 20px;
		display: grid;
	}
	// .info__head
	&__head {
		span {
			color: #626366;
		}
	}
	// .info__label
	&__label {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	// .info__categ
	&__categ {
		row-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 5px;
		color: #626366;
		padding-block: 12px;
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		span {
			gap: 5px;
			flex-wrap: wrap;
			align-items: center;
			display: inline-flex;
			&:not(:first-child) {
				&::before {
					width: 3px;
					content: "";
					height: 3px;
					translate: 0 1px;
					border-radius: 50%;
					background-color: #626366;
				}
			}
		}
	}
	// .info__about
	&__about {
		gap: 12px;
		display: flex;
		flex-direction: column;
		span {
			font-size: 12px;
			color: #626366;
			line-height: 1.25;
			display: inline-flex;
		}
	}
}
