<div class="info">
	<div data-fls-info class="info__overlay"></div>
	<div class="info__body">
		<div class="info__decore">
			<img src="@img/decore/plashka.svg" alt="Decore">
		</div>
		<div class="info__inner">
			<div class="info__head">
				<h3 class="info__label info__label--label">Название заведения</h3>
				<span>Режим работы: с 10:00 до 21:00</span>
			</div>
			<div class="info__categ">
				<span>Категория 1</span>
				<span>Категория 2</span>
				<span>Категория 3</span>
			</div>
			<div class="info__about">
				<span>Исполнитель (продавец): ИП Иванов Иван Ивановчи</span>
				<span>Юр. Адрес: Россия, г. Москва, ул. Пушкина, д. 153</span>
				<span>ИНН: 753600033397</span>
				<span>Рег. номер: 304753409300310</span>
			</div>
		</div>
	</div>
</div>