// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Noto%20Sans%20SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo%20Bhai%202:wght@400;700&display=swap');

$fontFamily: "Noto Sans SC", sans-serif; // Шрифт за замовчуванням
$fontRoboto: "Roboto", sans-serif; // Шрифт за замовчуванням
$fontBaloo: "Baloo Bhai 2", sans-serif; // Шрифт за замовчуванням
$fontSize: 15; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #333333; // Колір шрифту за замовчуванням
$liteColor: #9bbaff; // Колір шрифту за замовчуванням
$muteColor: #ebf1ff; // Колір шрифту за замовчуванням
$borderColor: #d9d9d9; // Колір шрифту за замовчуванням
$primaryColor: #6f9afa; // Колір шрифту за замовчуванням

$grayColor: #c3c3c3; // Колір шрифту за замовчуванням
$grayDarkColor: #626366; // Колір шрифту за замовчуванням

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 992;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 992;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
