.control {
	inset: 0;
	gap: 30px;
	z-index: 100;
	display: grid;
	overflow: auto;
	height: 100svh;
	position: fixed;
	align-items: start;
	flex-direction: column;
	background-color: #fff;
	transform: translateX(100%);
	padding: 0px 15px 30px 15px;
	grid-template-rows: 1fr auto;
	transition: transform 0.3s ease;
	&.control-gnf {
		gap: 0;
		grid-template-rows: 0fr;
	}
	&.control-lock {
		&--active {
			overflow: hidden;
		}
	}
	[data-fls-book-open] &[data-control="book"],
	[data-fls-done-open] &[data-control="done"],
	[data-fls-choose-open] &[data-control="choose"],
	[data-fls-delivery-open] &[data-control="delivery"],
	[data-fls-finish-open] &[data-control="finish"] {
		transform: translateX(0);
	}
	// .control__head
	&__head {
		top: 0;
		left: 0;
		gap: 10px;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		position: sticky;
		padding-block: 15px;
		align-items: center;
		margin-bottom: 25px;
		background-color: #fff;
		justify-content: space-between;
	}
	// .control__close
	&__close {
		&::before {
			rotate: 180deg;
		}
	}
	// .control__actions
	&__actions {
		gap: 16px;
		display: grid;
	}
}
// Book
.book {
	gap: 30px;
	height: 100%;
	display: grid;
	align-items: start;
	grid-template-rows: 1fr auto;
	// .book__main
	&__main {
		gap: 25px;
		display: grid;
	}
	// .book__head
	&__head {
		gap: 10px;
		display: flex;
		flex-direction: column;
		span {
			display: inline-flex;
		}
	}
	// .book__actions
	&__actions {
		gap: 10px;
		display: flex;
	}
	// .book__action
	&__action {
		gap: 6px;
		width: 100%;
		display: flex;
		color: #fff;
		padding-top: 4px;
		border-radius: 5px;
		padding-bottom: 5px;
		align-items: center;
		justify-content: center;
		background-color: $primaryColor;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		&::before {
			font-size: 20px;
		}
		span {
			font-weight: 700;
		}
		&--icon-people {
			&::before {
				font-size: 22px;
				translate: 0 -3.5px;
			}
		}
	}
	// .book__inner
	&__inner {
		gap: 15px;
		display: grid;
	}
	// .book__label
	&__label {
		span {
			display: inline-flex;
			margin-bottom: 12px;
		}
	}
}
// Done
.done {
	// .done__text
	&__text {
		line-height: 1.25;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	// .done__icon
	&__icon {
		font-size: 124px;
		text-align: center;
		color: $primaryColor;
	}
}
// Choose
.choose {
	gap: 20px;
	display: grid;
	// .choose__button
	&__button {
		gap: 8px;
		text-align: left;
		align-items: center;
		color: $borderColor;
		display: inline-flex;
		&::before {
			font-size: 37px;
			translate: 0 1px;
			transition: color 0.3s;
		}
		&--active {
			&::before {
				color: $primaryColor;
			}
			.choose__label {
				color: $mainColor;
			}
			.choose__location {
				color: #626366;
			}
		}
	}
	// .choose__inner
	&__inner {
		line-height: 1.25;
	}
	// .choose__label
	&__label {
		font-size: 20px;
		transition: color 0.3s;
	}
	// .choose__location
	&__location {
		transition: color 0.3s;
	}
}
// Delivery
.delivery {
	// .delivery__add
	&__add {
		gap: 10px;
		font-size: 20px;
		align-items: center;
		display: inline-flex;
		&::before {
			font-size: 25px;
			color: $primaryColor;
		}
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	// .delivery__history
	&__history {
		gap: 20px;
		display: grid;
	}
	// .delivery__button
	&__button {
		gap: 8px;
		text-align: left;
		align-items: center;
		color: $borderColor;
		display: inline-flex;
		&::before {
			font-size: 37px;
			translate: 0 1px;
			transition: color 0.3s;
		}
		&--active {
			&::before {
				color: $primaryColor;
			}
			.delivery__label {
				color: $mainColor;
			}
			.delivery__location {
				color: #626366;
			}
		}
	}
	// .delivery__inner
	&__inner {
		line-height: 1.25;
	}
	// .delivery__label
	&__label {
		font-size: 20px;
		transition: color 0.3s;
	}
	// .delivery__location
	&__location {
		transition: color 0.3s;
	}
}
// Finish
.finish {
	gap: 60px;
	display: grid;
	// .finish__head
	&__head {
		gap: 12px;
		display: grid;
	}
	// .finish__title
	&__title {
		font-size: 20px;
		font-weight: 700;
	}
	// .finish__labels
	&__labels {
		display: flex;
		color: $grayColor;
		align-items: center;
		justify-content: space-between;
	}
}
.finish-phase {
	position: relative;
	// .finish-phase__progres
	&__progres {
		top: 64px;
		width: 100%;
		position: absolute;
		padding-inline: 15px;
	}
	// .finish-phase__line-progres
	&__line-progres {
		width: 100%;
		height: 8px;
		background-color: $muteColor;
		span {
			height: 100%;
			display: flex;
			background-color: $primaryColor;
		}
	}
	// .finish-phase__items
	&__items {
		display: flex;
		position: relative;
		justify-content: space-between;
	}
	// .finish-phase__item
	&__item {
		gap: 7px;
		display: flex;
		align-items: center;
		flex-direction: column;
		span {
			font-size: 12px;
		}
	}
	// .finish-phase__preview
	&__preview {
		height: 46px;
		display: flex;
		align-items: end;
	}
	// .finish-phase__icon
	&__icon {
		width: 31px;
		display: flex;
		aspect-ratio: 1;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-color: $muteColor;
		svg {
			path {
				fill: #bbcdf6;
			}
		}
		&--active {
			background-color: $primaryColor;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}
