// Сніппет (HTML): btn
.button {
	width: 100%;
	height: 47px;
	color: #fff;
	font-weight: 700;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	background-color: $primaryColor;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	&::before {
		right: 0;
		top: 7px;
		content: "";
		width: 130px;
		aspect-ratio: 1;
		position: absolute;
		background: url("@img/decore/aster.svg") 0 0 no-repeat;
	}
	&--black {
		background-color: $mainColor;
		&::before {
			display: none;
		}
	}
	&--fw {
		width: 100%;
	}
}
.button-box {
	color: #fff;
	display: flex;
	min-width: 40px;
	aspect-ratio: 1;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	background-color: $primaryColor;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	&--lite {
		background-color: $liteColor;
	}
	&--trans {
		background-color: rgba($liteColor, 0.24);
	}
}
