.panel {
	inset: 0;
	gap: 30px;
	z-index: 100;
	display: grid;
	height: 100svh;
	overflow: auto;
	position: fixed;
	align-items: start;
	flex-direction: column;
	background-color: #fff;
	transform: translateX(100%);
	padding: 0px 15px 30px 15px;
	grid-template-rows: 1fr auto;
	transition: transform 0.3s ease;
	&.is-active {
		transform: translateX(0);
	}
	&.panel-gnf {
		gap: 0;
		grid-template-rows: 0fr;
	}
	&.panel-gnb {
		grid-template-rows: 0fr;
	}
	// .panel__head
	&__head {
		top: 0;
		left: 0;
		gap: 10px;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		position: sticky;
		padding-block: 15px;
		align-items: center;
		margin-bottom: 25px;
		background-color: #fff;
		justify-content: space-between;
	}
	// .panel__close
	&__close {
		&::before {
			rotate: 180deg;
		}
	}
	// .panel__button
	&__button {
		// .panel__button--payment
		&--payment {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				font-size: 12px;
				color: $grayColor;
			}
		}
	}
	// Other Content
	&__add,
	&__shape {
		gap: 30px;
		height: 100%;
		display: grid;
		align-items: start;
		grid-template-rows: 1fr auto;
	}
}
// Shape
.shape {
	&.shape-settings {
		gap: 0;
	}
	// .shape__span
	&__span {
		display: inline-flex;
	}
	// .shape__body
	&__body {
		gap: 20px;
		display: grid;
	}
	// .shape__labels
	&__labels {
		gap: 20px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
// Payment
.payment {
	gap: 25px;
	display: grid;
}
.item-payment {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&--active {
		.item-payment__main {
			color: #fff;
			background-color: $primaryColor;
		}
	}
	// .item-payment__main
	&__main {
		width: 100%;
		height: 47px;
		display: flex;
		border-radius: 5px;
		position: relative;
		align-items: center;
		justify-content: center;
		font-family: $fontRoboto;
		background-color: $muteColor;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		span {
			top: 6px;
			left: 6px;
			font-size: 10px;
			position: absolute;
		}
	}
	// .item-payment__label
	&__label {
		font-weight: 700;
		text-align: center;
	}
	// .item-payment__delete
	&__delete {
		min-width: 47px;
		font-size: 20px;
		aspect-ratio: 1;
		border-radius: 5px;
		border: 1px solid $borderColor;
	}
}
// Add
.add {
	// .add__label
	&__label {
		width: 100%;
		span {
			font-size: 10px;
			color: $grayColor;
			display: inline-flex;
		}
	}
	// .add__addition
	&__addition {
		gap: 30px;
		display: flex;
		padding-top: 20px;
	}
}
// Empty
.empty {
	gap: 35px;
	display: flex;
	height: 290px;
	text-align: center;
	border-radius: 5px;
	padding-inline: 15px;
	flex-direction: column;
	justify-content: center;
	background-color: #f6f8fc;
	border: 1px dashed $grayColor;
	// .empty__icon
	&__icon {
		font-size: 81px;
		color: $borderColor;
	}
}
// Adrdesess
.address {
	// .address__add
	&__add {
		gap: 10px;
		font-size: 20px;
		align-items: center;
		display: inline-flex;
		&::before {
			font-size: 25px;
			color: $primaryColor;
		}
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	// .address__history
	&__history {
		gap: 20px;
		display: grid;
	}
	// .address__button
	&__button {
		gap: 8px;
		text-align: left;
		align-items: center;
		display: inline-flex;
		&::before {
			font-size: 37px;
			translate: 0 1px;
			color: $primaryColor;
		}
	}
	// .address__inner
	&__inner {
		line-height: 1.25;
	}
	// .address__label
	&__label {
		font-size: 20px;
	}
	// .address__location
	&__location {
		color: $grayColor;
	}
}
