<header data-fls-header data-fls-header-scroll class="header">
	<div class="header__container">
		<include src="@components/layout/menu/menu.html"></include>
		<include src="@components/layout/chat/chat.html"></include>
		<div class="header__body">
			<button type="button" data-fls-menu class="header__button">
				<div class="icon-menu">
					<span></span>
				</div>
			</button>
			<button type="button" data-fls-chat class="header__button header__button--chat header__button--icon-chat"></button>
		</div>
	</div>
	<include src="@components/custom/panels/panels.html"></include>
</header>