.page {
	padding-bottom: 100px;
	// .page__preview
	&__preview {
	}
	// .page__hero
	&__hero {
	}
}
// Hero
.hero {
	// .hero__container
	&__container {
		gap: 25px;
		display: grid;
		padding-top: 8px;
		position: relative;
		&::before,
		&::after {
			top: 0;
			content: "";
			height: 20px;
			translate: 0 -100%;
			position: absolute;
			background-color: #fff;
			width: calc(50% - 77.5px);
		}
		&::before {
			left: 0;
			border-radius: 35px 0 0 0;
		}
		&::after {
			right: 0;
			border-radius: 0 35px 0 0;
		}
	}
	// .hero__decore
	&__decore {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		display: flex;
		translate: 0 -100%;
		position: absolute;
		justify-content: center;
	}
	// .hero__states
	&__states {
		gap: 20px;
		display: grid;
	}
}
.leader-hero {
	> * {
		margin-bottom: 15px;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	// .leader-hero__label
	&__label {
		text-align: left;
		margin-bottom: 22px;
		h1 {
			&::after {
				font-size: 15px;
				content: "\f10b";
				padding-left: 8px;
				translate: 0 -4px;
				font-family: "iconfont";
			}
		}
	}
	// .leader-hero__actions
	&__actions {
		display: flex;
		white-space: nowrap;
		@include adaptiveValue("gap", 12, 6, 0, 375, 320);
	}
	// .leader-hero__action
	&__action {
		width: 100%;
		border-radius: 5px;
		text-align: center;
		padding-block: 12px;
		background-color: #ebf1ff;
		transition:
			color 0.4s,
			background-color 0.4s;
		@include adaptiveValue("font-size", 15, 13, 0, 375, 320);
		&--active {
			color: #fff;
			font-weight: 700;
			background-color: $primaryColor;
		}
	}
}
.adres-leader {
	width: 100%;
	display: flex;
	text-align: left;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	&::before {
		font-size: 11px;
		color: $grayColor;
	}
	// .adres-leader__content
	&__content {
		gap: 8px;
		display: flex;
		&::before {
			font-size: 37px;
			color: $primaryColor;
		}
	}
	// .adres-leader__inner
	&__inner {
		line-height: 1.25;
		align-self: center;
	}
	// .adres-leader__time
	&__time {
		color: $grayColor;
	}
}
.quantity-portion {
	width: 100%;
	height: 31px;
	display: flex;
	border-radius: 5px;
	background-color: #fff;
	&--hidden {
		display: none;
	}
	// .quantity-portion__button
	&__button {
		width: 100%;
		cursor: pointer;
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $mainColor;
			width: 13px;
			height: 3px;
		}
		// .quantity__button_plus
		&--plus {
			border-left: 1px solid rgba(195, 195, 195, 0.5);
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
			border-right: 1px solid rgba(195, 195, 195, 0.5);
		}
	}
	// .quantity-portion__input
	&__input {
		flex: 1 1 auto;
		input {
			width: 34px;
			height: 100%;
			font-weight: 700;
			text-align: center;
		}
	}
}
