//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	height: 40px;
	outline: none;
	display: block;
	padding: 0 10px;
	border-radius: 5px;
	caret-color: inherit;
	border: 1px solid $borderColor;
	transition: background-color 0.3s;
	&:focus {
		background-color: $muteColor;
	}
	&--data {
		padding: 0;
		height: 35px;
		border-radius: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px solid $primaryColor;
		&:focus {
			background-color: transparent;
		}
	}
	&--center {
		text-align: center;
	}
	&.--form-error {
		color: red;
		&::placeholder {
			color: red;
		}
	}
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	padding: 10px;
	resize: vertical;
	min-height: 80px;
}
