// Preview
.preview {
	// .preview__container
	&__container {
		padding: 0;
	}
	// .preview__image
	&__image {
		width: 100%;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
		&--large {
			height: 400px;
		}
	}
}
