<div class="header__menu menu">
	<div data-fls-menu class="menu__overlay"></div>
	<nav class="menu__body">
		<div class="menu__head">
			<div class="menu__logo menu__logo--icon-logo">Nomi</div>
			<button type="button" data-fls-button data-fls-menu
				class="menu__close menu__close--icon-cancel button-box button-box--trans"></button>
		</div>
		<div class="menu__list">
			<button type="button" class="menu__button">Настройки ресторана</button>
			<button type="button" class="menu__button" data-open-panel="settings">Настройки</button>
			<button type="button" class="menu__button" data-open-panel="orders-empty">Мои заказы (Пусто)</button>
			<button type="button" class="menu__button" data-open-panel="orders">Мои заказы</button>
			<button type="button" class="menu__button" data-open-panel="chosen-empty">Избранное (Пусто)</button>
			<button type="button" class="menu__button" data-open-panel="chosen">Избранное</button>
			<button type="button" class="menu__button" data-open-panel="address">Мои адреса</button>
			<button type="button" class="menu__button" data-open-panel="team">Сотрудничество</button>
		</div>
	</nav>
</div>