// Menu
.menu {
	// .menu__overlay
	&__overlay {
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		right: -100%;
		overflow: auto;
		position: fixed;
		background-color: rgba(#091328, 0.74);
		transition: right 0.3s;
		[data-fls-menu-open] & {
			right: 0;
		}
	}
	// .menu__body
	&__body {
		z-index: 10;
		position: fixed;
		width: 84%;
		height: 100svh;
		left: -100%;
		top: 0;
		border-radius: 0 10px 10px 0;
		overflow: auto;
		background-color: $primaryColor;
		padding: 16px 15px 30px 15px;
		transition: left 0.3s;
		&::before {
			left: 0;
			bottom: 0;
			content: "";
			z-index: -1;
			width: 195px;
			aspect-ratio: 1;
			position: absolute;
			background: url("@img/decore/aster-menu.svg") 0 0 no-repeat;
		}
		[data-fls-menu-open] & {
			left: 0;
		}
	}
	// .menu__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}
	// .menu__logo
	&__logo {
		gap: 7px;
		color: #fff;
		font-size: 32px;
		display: flex;
		font-weight: 700;
		font-family: $fontBaloo;
		align-items: center;
		text-transform: uppercase;
		&::before {
			font-size: 34px;
			font-weight: 400;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
	}
	// .menu__button
	&__button {
		gap: 15px;
		color: #fff;
		display: flex;
		font-size: 18px;
		text-align: left;
		line-height: 1.35;
		padding-right: 5px;
		padding-block: 12px;
		align-items: center;
		letter-spacing: -0.02em;
		justify-content: space-between;
		border-bottom: 1px solid rgba(#fff, 0.15);
		&::after {
			font-size: 12px;
			content: "\f115";
			font-family: "iconfont";
		}
	}
}
// Burger Icon
.icon-menu {
	width: toRem(18);
	height: toRem(12);
	position: relative;
	@media (any-hover: none) {
		cursor: default;
	}
	.--header-scroll & {
		span,
		&::before,
		&::after {
			background-color: $primaryColor;
		}
	}
	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.2s;
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: calc(50% - 1px);
	}
	[data-fls-menu-open] & {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
