.state {
	padding: 10px;
	border-radius: 5px;
	background-color: $muteColor;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	// .state__content
	&__content {
		gap: 5px;
		display: grid;
		line-height: 1.15;
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	// .state__label
	&__label {
		display: flex;
		font-weight: 700;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		@include adaptiveValue("font-size", 20, 18, 0, 375, 320);
		&--nr {
			flex-direction: unset;
		}
		&::before {
			display: flex;
			font-size: 24px;
			align-items: center;
			justify-content: center;
		}
		span {
			font-weight: 400;
			color: $grayColor;
		}
		&--icon-time {
			&::before {
				color: $primaryColor;
			}
		}
		&--icon-check {
			&::before {
				width: 24px;
				height: 24px;
				color: #fff;
				font-size: 10px;
				border-radius: 50%;
				background-color: #bad76a;
			}
		}
		&--icon-fail {
			&::before {
				width: 24px;
				height: 24px;
				color: #fff;
				font-size: 10px;
				border-radius: 50%;
				background-color: #c3b2ff;
			}
		}
	}
	// .state__info
	&__info {
		color: $grayColor;
	}
	// .state__text
	&__text {
		line-height: 1.25;
	}
}
.state-phase {
	position: relative;
	// .state-phase__progres
	&__progres {
		top: 11px;
		width: 100%;
		position: absolute;
		padding-inline: 10px;
	}
	// .state-phase__line-progres
	&__line-progres {
		width: 100%;
		height: 8px;
		background-color: #fff;
		span {
			height: 100%;
			display: flex;
			background-color: $primaryColor;
		}
	}
	// .state-phase__items
	&__items {
		display: flex;
		position: relative;
		justify-content: space-between;
	}
	// .state-phase__item
	&__item {
		gap: 7px;
		display: flex;
		align-items: center;
		flex-direction: column;
		span {
			font-size: 12px;
		}
	}
	// .state-phase__icon
	&__icon {
		width: 31px;
		display: flex;
		aspect-ratio: 1;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		&--active {
			background-color: $primaryColor;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}
